@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {

    --blue : #00c4cc;
    --black : #413b3b;
    --blackgrey : #ffffff2d;
    --blanc : #d8d1d1;
    --bluegrey : #03383a;
    --verclair : rgba(127, 255, 212, 0.349);
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#mainHeader, #mainFooter {

    background-color : rgb(68, 67, 67);
}

.accesibility {

    position : absolute;
    left : -15000px;

}

#mainHeader {

    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 100px 1fr 40px;
}

#mainHeader > h1 {
    font-size: 1em;
    color: var(--blanc);
    font-weight: normal;
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0;
}

#mainNav {

    background-color: #ffffff;
    position: absolute;
    width: 100%;
    top: 40px;
    padding-bottom: 10px;
    display: none;
}

#mainNav ul {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#mainNav a {

    color: var(--black);
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    padding-left: 100px;
}

#mainNav a:hover {

    color: var(--blue);
}

#logoImg {

    width: 100px;
    height: auto;
    padding: 5px;
    position: relative;
    z-index: 1000;
}

#menuTogle {

    background-color: transparent;
    border: none;
}

#menuTogle img{

    width: 40px;
    height: 40px;
}

body {

    font-family :'Times New Roman', Times, serif;
    color: var(--black);
    font-size: 1rem;
}

main {

    background-color: #ffffff8e;
    padding: 20px;
    border-radius: 5px;

}

body h1{

    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    letter-spacing : .1em;
}

#pageContent {

    background : url(/asset/img/7.jpg) center center / cover no-repeat fixed;
    padding: 150px 20px;
    min-height: 100vh;

}

#pageContent.left {

    display: grid;
    grid-gap: 10px;
}

#pageContent h1 {

    font-size: 1.8em;
    color: var(--bluegrey);
    letter-spacing: .1em;
}

#pageContent.home {

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#pageContent.home #pictInfo{

    background-color: var(--verclair);
    padding: 40px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

#pageContent.home #pictInfo h1 {

    margin: 10px 0;
    font-size: 1.2em;
}

#pageContent.home #pictInfo p {

    margin: 10px 0;
    font-size: .8em;
}

#pageContent.text h2 {

    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: .1em;
    margin-top: 50px;
}

#pageContent.text img {

    max-width: 100%;
    height: auto;
}

#pageContent.text .alineLeft{
    float: left;
}

#pageContent.text .alineRight{
    float: right;
}

#pageContent.text dl {

    border: 1px solid rgba(37, 37, 37, 0.342);
    background-color: var(--blackgrey);
    padding: 20px;
    border-radius: 10px;
}

#pageContent.text dl dt {

    font-weight: bold;
    font-size: 1.2em;
}

#pageContent.text dl dd {

    margin: 10px 0 10px 20px;
}

#pageContent.text a {

    text-decoration: none;
    color: var(--black);
}

#pageContent.pic ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 20px;
}

#pageContent.pic ul li {

    background-color: var(--verclair);
    padding: 10px;
    border-radius: 5px;
}

#pageContent.pic ul li:hover{

    background-color: var(--blue);
}

#pageContent.contact form {

    border-top: 1px solid #03383a;
    margin-top: 10px;
    display: grid;
}

#pageContent.contact form > div > div {

    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

#pageContent.contact form label {

    margin-bottom: 5px;
    font-size: 1.1em;
}

#pageContent.contact form textarea {

    height: 150px;
    resize: none;
}

#pageContent.contact form button {

    padding: 10px;
    background-color: var(--bluegrey);
    color: var(--blanc);
    border: none;
    margin-top: 35px;
}

#pageContent.contact form button:hover {

    background-color: var(--blue);
}

#pageContent.blogL #leftCol {

    display: grid;
    grid-gap: 10px;
}

#pageContent.blogL #leftCol article {

    padding: 20px;
    background-color: var(--verclair);
}

#pageContent.blogL #leftCol article header {

    border-bottom: 1px solid var(--bluegrey);
}

#pageContent.blogL #leftCol article header p {

    font-size: .8em;
    font-style: italic;
}

#pageContent.blogL #leftCol article a {

    color: var(--bluegrey);
}

#pageContent.blogL #leftCol article a:hover {

    text-decoration: underline;
    color: var(--blue);
}

#pageContent.blog #rightCol{

    background-color: #ffffff8e;
    padding: 20px;
    border-radius: 5px;

}

#pageContent.blog #rightCol section{

    background-color: var(--verclair);
    padding: 20px;
    margin-top: 20px;

}

#pageContent.blog #rightCol section > h1 {

    font-size: 1.3em;
    color: var(--black);
}

#pageContent.blog #rightCol #blResearch input {

    width: 100%;
    border-radius: 10px;
    border: none;
}

#pageContent.blog #rightCol ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

#pageContent.blog #rightCol ul li, #pageContent.blog #rightCol h2 {

    background-color: var(--blanc);
}

#pageContent.blog #rightCol ul li:nth-child(even){

    background-color: var(--verclair);
}

#pageContent.blog #rightCol h2 {

    font-size: 1em;
    background-color: var(--bluegrey);
}

#pageContent.blog #rightCol h2 a {

    color: var(--blanc);
}

#pageContent.blog #rightCol li a, #pageContent.blog #rightCol h2 a {

    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#pageContent.blog #rightCol li span, #pageContent.blog #rightCol h2 span{

    background-color: rgb(94, 3, 3);
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageContent.blog #rightCol li a:hover, #pageContent.blog #rightCol h2 a:hover {

    background-color: var(--blue);
}

#pageContent.blog #rightCol ul li:first-child, #pageContent.blog #rightCol ul li:first-child a:hover{

    border-radius: 10px 10px 0 0;
}

#pageContent.blog #rightCol ul li:last-child, #pageContent.blog #rightCol ul li:last-child a:hover{

    border-radius: 0 0 10px 10px;
}

#mainFooter {

    color: #d8d1d1;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: .8em;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {

    #menuTogle{
        display: none;
    }

    #mainHeader{
        grid-template-columns: 100px 250px 1fr;
    }

    #mainNav{
        position: static;
        background-color: transparent;
        display: block;
    }

    #mainNav a{
        font-size: 1em;
        color: var(--blanc);
        padding: 0 10px;
    }

    #mainNav ul{
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 80px;
        margin: 0;
    }

    #pageContent.pic ul {
        grid-template-columns: repeat(2, 1fr);
    }

    #pageContent.blogL #leftCol{
        grid-template-columns: repeat(2,1fr);
    }

    #pageContent.home{
        justify-content: flex-end;
    }
}

@media screen and (min-width:1024px) {

    #mainHeader{
        grid-template-columns: 100px repeat(2, 1fr);
    }

    #mainHeader> h1{
        font-size: 1.3em;
    }

    #pageContent.pic ul {
        grid-template-columns: repeat(3, 1fr);
    }

    #pageContent.blogL #leftCol{

        grid-template-columns: repeat(3,1fr);
    }

    #pageContent.left {
        grid-template-columns: 2fr 1fr;
    }

    #pageContent.contact form {

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    #pageContent.contact form button {

        grid-column: span 2;
    }
}

@media screen and (min-width:1200px) {
    #pageContent.pic ul {
        grid-template-columns: repeat(4, 1fr);
    }

    #pageContent.left {
        grid-template-columns: 3fr 1fr;
    }
}